@font-face {
  font-family: 'Gotham Light';
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: 'Gotham Bold';
  src: url("../fonts/Gotham-Bold.otf") format("opentype");
}

body {
	font-family: 'Gotham Light';
}

.row#header {
    margin-top: 40px;
    margin-bottom: 30px;
}

h1 {
	font-family: 'Gotham Bold';
}

#stream {
	display: inline-block;
    margin-bottom: 40px;
}

.msg-text {
	padding: 16px;
	border-radius: 4px;
	width: 350px;
}

.msg-text:hover {
	background-color: #50b1ff;
	color: #fff;
	border: none;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}

#login {
	padding: 0.5em 1em;
	background-color: #333;
	border: none;
	color: #eee;
	font-family: 'HelveticaNeue-Light';
	font-weight: normal;
	text-decoration: none;
	border-radius: 4px;
	font-size: 18px;
}

#login:hover {
	background-color: black;
}

#login img {
	margin-right: 7px;
	float: left;
}

#msgInput {
	padding: 1em;
	height: 25px;
	font-size: 14px;
	font-family: 'HelveticaNeue-Light';
    border-radius: 0;
    height: 40px;
    border: 2px solid #ccc;
}

#msgInput:hover {
    border: 2px solid #50b1ff;
}

#tweet-submit {
	background-color: #50b1ff;
	-webkit-transition: background-color 300ms;
	transition: background-color 300ms;
	color: #FFF;
	font-family: 'HelveticaNeue-Light';
	font-weight: normal;
	font-size: 14px;
    height: 40px;
    width: 100%;
}

#tweet-submit:hover {
	cursor: pointer;
}

#user {
	display: inline-block;
	margin: 10px;
}

#user img {
	border-radius: 50%;
    border: 2px solid #50b1ff;
}

#username {
	margin: 15px 0px 0px 10px;
	float: right;
}
